In [1]:
import pandas as pd

In [2]:
from matplotlib import pyplot as plt

In [8]:
dataset2 = pd.read_excel(r"Proposal's Data Sets\GLB.Ts+dSST.xlsx")

In [9]:
dataset2

,Land-Ocean: Global Means,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
1,1880,-0.17,-0.23,-0.08,-0.15,-0.09,-0.2,-0.16,-0.08,-0.13,-0.22,-0.19,-0.16,-0.15,***,***,-0.1,-0.15,-0.18
2,1881,-0.18,-0.13,0.04,0.06,0.07,-0.17,0.02,-0.02,-0.14,-0.21,-0.17,-0.06,-0.07,-0.08,-0.16,0.06,-0.06,-0.17
3,1882,0.17,0.15,0.05,-0.16,-0.13,-0.22,-0.15,-0.06,-0.13,-0.23,-0.15,-0.36,-0.1,-0.08,0.09,-0.08,-0.15,-0.17
4,1883,-0.28,-0.36,-0.12,-0.18,-0.17,-0.06,-0.06,-0.13,-0.21,-0.11,-0.23,-0.11,-0.17,-0.19,-0.33,-0.15,-0.09,-0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2018,0.81,0.85,0.89,0.88,0.83,0.78,0.83,0.77,0.8,1.02,0.83,0.92,0.85,0.85,0.87,0.87,0.79,0.88
140,2019,0.93,0.95,1.18,1.01,0.85,0.91,0.94,0.95,0.92,1.01,0.99,1.09,0.98,0.96,0.93,1.01,0.93,0.98
141,2020,1.16,1.24,1.17,1.13,1.02,0.92,0.91,0.87,0.99,0.89,1.11,0.82,1.02,1.04,1.17,1.11,0.9,1
142,2021,0.82,0.65,0.89,0.76,0.79,0.85,0.93,0.81,0.92,0.99,0.93,0.86,0.85,0.85,0.76,0.81,0.86,0.95
143,2022,0.91,0.9,***,***,***,***,***,***,***,***,***,***,***,***,0.89,***,***,***

In [10]:
type(dataset2)

pandas.core.frame.DataFrame